*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
.log
local.properties
gradlew
gradlew.bat
/app/build

# --- Keystore / signing ---
*.jks
*.keystore
*.p12
*.pem
*.key
keystore.properties
